/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

  .card-img-top img {

    width: 100%;  
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
    max-height: 170px;

min-height: 170px;
 border-radius: 15px;
}



.carousel-item  p img{
  max-width: 100%;

height: auto;

width: 100% !important;

display: block !important;
 border-radius: 15px;
}



footer {

  background-position: right top;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #fff;
  background-color:  #5db1a6;

}
.row {    margin-top: 73px;
  margin-bottom: 13px;


}
h4{
  color: #565f64;
}
.container{
 border-radius: 15px;
}
.bg-info2 {
  background-color: #b1ddd7e6 !important;
}
.link-white a{
  color: #7a868c !important;
}